body{
    background-color: #808080;
}
.Header{
    background-color: floralwhite;
    display: flex;
    justify-content: space-between;
}
.Menu{
    display: flex;
    justify-content:"center";
    background-color: "red";
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}
h2{
    text-align: center;
}
.Grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.Item{
    border-radius: 20px;
    background-color: yellowgreen;
    font-family: fantasy;
    width: 400px;
}
.Grid img{
    border-radius: 50px;
}